:root {
  /* Color Primitive */
  --color-light-amber-10: #fffaf1;
  --color-light-amber-30: #ffe8bd;
  --color-light-amber-50: #f8ac1f;
  --color-light-brand-10: #f8fbfeff;
  --color-light-brand-15: #f2f7fcff;
  --color-light-brand-20: #e8f3faff;
  --color-light-brand-25: #d1e6f5ff;
  --color-light-brand-30: #c2def2ff;
  --color-light-brand-35: #98c5e8ff;
  --color-light-brand-40: #89bde5ff;
  --color-light-brand-45: #71b0e0ff;
  --color-light-brand-50: #4199d5ff;
  --color-light-brand-55: #3a93c7ff;
  --color-light-brand-60: #3385b5ff;
  --color-light-blue-10: #f8fbfeff;
  --color-light-blue-15: #f2f7fcff;
  --color-light-blue-20: #e8f3faff;
  --color-light-blue-25: #d1e6f5ff;
  --color-light-blue-30: #c2def2ff;
  --color-light-blue-35: #98c5e8ff;
  --color-light-blue-40: #89bde5ff;
  --color-light-blue-45: #71b0e0ff;
  --color-light-blue-50: #4199d5ff;
  --color-light-blue-55: #3a93c7ff;
  --color-light-blue-60: #3385b5ff;
  --color-light-green-10: #fbfdf8ff;
  --color-light-green-15: #f7fbf3ff;
  --color-light-green-20: #f2f8eaff;
  --color-light-green-25: #e5f2d6ff;
  --color-light-green-30: #d6eabeff;
  --color-light-green-35: #c4e1a2ff;
  --color-light-green-40: #bcdd95ff;
  --color-light-green-45: #aed67fff;
  --color-light-green-50: #97cc56ff;
  --color-light-green-55: #7fbc3eff;
  --color-light-green-60: #6faf35ff;
  --color-light-grey-10: #fdfdfeff;
  --color-light-grey-15: #fbfbfcff;
  --color-light-grey-20: #f8f9faff;
  --color-light-grey-25: #f2f4f5ff;
  --color-light-grey-30: #eaedefff;
  --color-light-grey-35: #e1e5e8ff;
  --color-light-grey-40: #dde1e5ff;
  --color-light-grey-45: #d6dbe0ff;
  --color-light-grey-50: #c8cfd5ff;
  --color-light-grey-55: #d6dbe0ff;
  --color-light-grey-60: #ced3d7ff;
  --color-light-red-10: #fef8faff;
  --color-light-red-15: #fdf3f5ff;
  --color-light-red-20: #fbeaeeff;
  --color-light-red-25: #f8d6deff;
  --color-light-red-30: #f6c7d2ff;
  --color-light-red-35: #f0a1b3ff;
  --color-light-red-40: #ee94a8ff;
  --color-light-red-45: #ea7d96ff;
  --color-light-red-50: #e35273ff;
  --color-light-red-55: #c6315eff;
  --color-light-red-60: #b52b55ff;
  --color-light-yellow-10: #fefcf6ff;
  --color-light-yellow-15: #fdf9efff;
  --color-light-yellow-20: #fcf5e3ff;
  --color-light-yellow-25: #faecc9ff;
  --color-light-yellow-30: #f8e6b6ff;
  --color-light-yellow-35: #f3d584ff;
  --color-light-yellow-40: #f2cf72ff;
  --color-light-yellow-45: #efc555ff;
  --color-light-yellow-50: #eab11cff;
  --color-light-yellow-55: #d4a82aff;
  --color-light-yellow-60: #c89d24ff;
  --color-light-orange-10: #fffaf8ff;
  --color-light-orange-15: #fef6f3ff;
  --color-light-orange-20: #fdefeaff;
  --color-light-orange-25: #fce0d5ff;
  --color-light-orange-30: #fbd5c7ff;
  --color-light-orange-35: #f8b8a1ff;
  --color-light-orange-40: #f8ae93ff;
  --color-light-orange-45: #f69e7dff;
  --color-light-orange-50: #f37d51ff;
  --color-light-orange-55: #d86435ff;
  --color-light-orange-60: #cc5a2eff;
  --color-dark-brand-10: #f6f8f9ff;
  --color-dark-brand-15: #eef1f4ff;
  --color-dark-brand-20: #e2e8ebff;
  --color-dark-brand-25: #c2cdd5ff;
  --color-dark-brand-30: #a5b6c1ff;
  --color-dark-brand-35: #7f97a7ff;
  --color-dark-brand-40: #718c9eff;
  --color-dark-brand-45: #4e6f86ff;
  --color-dark-brand-50: #133f5dff;
  --color-dark-brand-55: #263640ff;
  --color-dark-brand-60: #1f2b33ff;
  --color-dark-blue-10: #f6f8f9ff;
  --color-dark-blue-15: #eef1f4ff;
  --color-dark-blue-20: #e2e8ebff;
  --color-dark-blue-25: #c2cdd5ff;
  --color-dark-blue-30: #a5b6c1ff;
  --color-dark-blue-35: #7f97a7ff;
  --color-dark-blue-40: #718c9eff;
  --color-dark-blue-45: #4e6f86ff;
  --color-dark-blue-50: #133f5dff;
  --color-dark-blue-55: #263640ff;
  --color-dark-blue-60: #1f2b33ff;
  --color-dark-green-10: #e2f2e1ff;
  --color-dark-green-15: #c8e4c3ff;
  --color-dark-green-20: #b0d3a3ff;
  --color-dark-green-25: #96bf83ff;
  --color-dark-green-30: #7cac63ff;
  --color-dark-green-35: #6a9750ff;
  --color-dark-green-40: #58843dff;
  --color-dark-green-45: #47722fff;
  --color-dark-green-50: #356021ff;
  --color-dark-green-55: #29441bff;
  --color-dark-green-60: #213815ff;
  --color-dark-grey-10: #f3f6f9ff;
  --color-dark-grey-15: #f1f3f4ff;
  --color-dark-grey-20: #e7eaecff;
  --color-dark-grey-25: #d0d9dfff;
  --color-dark-grey-30: #b5bec5ff;
  --color-dark-grey-35: #95a2adff;
  --color-dark-grey-40: #8695a1ff;
  --color-dark-grey-45: #6d7f8dff;
  --color-dark-grey-50: #3c5467ff;
  --color-dark-grey-55: #353f47ff;
  --color-dark-grey-60: #2a3339ff;
  --color-dark-navy-30: #4f8ccb;
  --color-dark-navy-50: #17348f;
  --color-dark-red-10: #f9d1dcff;
  --color-dark-red-15: #f0a8beff;
  --color-dark-red-20: #db7e9eff;
  --color-dark-red-25: #c45c89ff;
  --color-dark-red-30: #ac3f71ff;
  --color-dark-red-35: #98325eff;
  --color-dark-red-40: #84274dff;
  --color-dark-red-45: #701b3cff;
  --color-dark-red-50: #5c122dff;
  --color-dark-red-55: #401021ff;
  --color-dark-red-60: #330b18ff;
  --color-dark-yellow-10: #faedbdff;
  --color-dark-yellow-15: #f3df96ff;
  --color-dark-yellow-20: #e6c66cff;
  --color-dark-yellow-25: #d5ac46ff;
  --color-dark-yellow-30: #bf9727ff;
  --color-dark-yellow-35: #ab8415ff;
  --color-dark-yellow-40: #96720aff;
  --color-dark-yellow-45: #815f04ff;
  --color-dark-yellow-50: #6e4e00ff;
  --color-dark-yellow-55: #443400ff;
  --color-dark-yellow-60: #382800ff;
  --color-dark-orange-10: #fdeae4ff;
  --color-dark-orange-15: #f9d0c9ff;
  --color-dark-orange-20: #f3afaaff;
  --color-dark-orange-25: #e99386ff;
  --color-dark-orange-30: #de7d60ff;
  --color-dark-orange-35: #cb6949ff;
  --color-dark-orange-40: #b85534ff;
  --color-dark-orange-45: #a2411fff;
  --color-dark-orange-50: #8c2f0cff;
  --color-dark-orange-55: #4d1f11ff;
  --color-dark-orange-60: #3d170dff;
  --color-neutral-black: #161616ff;
  --color-neutral-white: #ffff;
  --color-interactive-brand-40: var(--color-light-brand-40);
  --color-interactive-brand-50: var(--color-light-brand-50);
  --color-interactive-brand-60: var(--color-light-brand-60);
  --color-interactive-blue-40: var(--color-light-blue-40);
  --color-interactive-blue-50: var(--color-light-blue-50);
  --color-interactive-blue-60: var(--color-light-blue-60);
  --color-interactive-green-40: var(--color-light-green-40);
  --color-interactive-green-50: var(--color-light-green-50);
  --color-interactive-green-60: var(--color-light-green-60);
  --color-interactive-grey-40: var(--color-light-grey-25);
  --color-interactive-grey-50: var(--color-light-grey-30);
  --color-interactive-grey-60: var(--color-light-grey-40);
  --color-interactive-red-40: var(--color-light-red-40);
  --color-interactive-red-50: var(--color-light-red-50);
  --color-interactive-red-60: var(--color-light-red-60);
  --color-interactive-yellow-40: var(--color-light-yellow-40);
  --color-interactive-yellow-50: var(--color-light-yellow-50);
  --color-interactive-yellow-60: var(--color-light-yellow-60);
  --color-interactive-orange-40: var(--color-light-orange-40);
  --color-interactive-orange-50: var(--color-light-orange-50);
  --color-interactive-orange-60: var(--color-light-orange-60);
  --color-interactive-white-40: var(--color-light-grey-15);
  --color-interactive-white-50: var(--color-neutral-white);
  --color-interactive-white-60: var(--color-light-grey-20);
}
@import './color-primitive.css';

:root {
  /* Color Semantic */
  --color-text-primary: var(--color-dark-brand-50);
  --color-text-secondary: var(--color-dark-brand-40);
  --color-text-muted: var(--color-dark-brand-30);
  --color-text-inverse: var(--color-neutral-white);
  --color-text-brand: var(--color-dark-brand-50);
  --color-surface-light-default: var(--color-neutral-white);
  --color-surface-light-raised: var(--color-dark-grey-10);
  --color-surface-light-muted: var(--color-dark-grey-20);
  --color-surface-light-platform: var(--color-light-brand-10);
  --color-surface-dark-default: var(--color-dark-brand-55);
  --color-surface-dark-raised: var(--color-dark-brand-50);
  --color-surface-dark-muted: var(--color-dark-brand-45);
  --color-surface-dark-platform: var(--color-dark-brand-60);
  --color-border-subtle: var(--color-light-grey-25);
  --color-border-default: var(--color-light-grey-40);
  --color-action-primary-bg: var(--color-light-brand-50);
  --color-action-primary-hover: var(--color-light-brand-40);
  --color-action-primary-pressed: var(--color-light-brand-60);
  --color-action-primary-fg: var(--color-neutral-white);
  --color-action-destructive-bg: var(--color-light-red-50);
  --color-action-destructive-hover: var(--color-light-red-40);
  --color-action-destructive-pressed: var(--color-light-red-60);
  --color-action-destructive-fg: var(--color-neutral-white);
  --color-focus-ring: var(--color-light-brand-40);
  --color-state-success-text-dark: var(--color-dark-green-50);
  --color-state-success-text-light: var(--color-light-green-50);
  --color-state-success-icon: var(--color-light-green-50);
  --color-state-success-bg: var(--color-light-green-15);
  --color-state-success-border: var(--color-light-green-30);
  --color-state-danger-text-dark: var(--color-dark-red-50);
  --color-state-danger-text-light: var(--color-light-red-50);
  --color-state-danger-icon: var(--color-light-red-50);
  --color-state-danger-bg: var(--color-light-red-15);
  --color-state-danger-border: var(--color-light-red-30);
  --color-state-warning-text-dark: var(--color-dark-orange-50);
  --color-state-warning-text-light: var(--color-light-orange-50);
  --color-state-warning-icon: var(--color-light-orange-50);
  --color-state-warning-bg: var(--color-light-orange-15);
  --color-state-warning-border: var(--color-light-orange-30);
  --color-state-caution-text-dark: var(--color-dark-yellow-50);
  --color-state-caution-text-light: var(--color-light-yellow-50);
  --color-state-caution-icon: var(--color-light-yellow-50);
  --color-state-caution-bg: var(--color-light-yellow-15);
  --color-state-caution-border: var(--color-light-yellow-30);
  --color-state-active-text-dark: var(--color-dark-blue-50);
  --color-state-active-text-light: var(--color-light-blue-50);
  --color-state-active-border: var(--color-light-brand-30);
  --color-state-active-icon: var(--color-light-brand-50);
  --color-action-neutral-bg: var(--color-light-grey-10);
  --color-action-neutral-hover: var(--color-light-grey-25);
  --color-action-neutral-pressed: var(--color-light-grey-40);
  --color-action-neutral-fg: var(--color-dark-brand-50);
  --color-action-disabled-bg: var(--color-dark-grey-20);
  --color-action-disabled-hover: var(--color-dark-grey-10);
  --color-action-disabled-pressed: var(--color-dark-grey-20);
  --color-action-disabled-fg: var(--color-dark-brand-35);
}
:root {
  /* Text */
  --text-heading-size-xs: 14px;
  --text-heading-size-sm: 16px;
  --text-heading-size-md: 22px;
  --text-heading-size-lg: 28px;
  --text-heading-size-xl: 34px;
  --text-heading-size-2xl: 42px;
  --text-heading-size-3xl: 52px;
  --text-heading-size-4xl: 64px;
  --text-heading-size-5xl: 72px;
  --text-heading-size-6xl: 80px;
  --text-heading-line-height-xs: 20px;
  --text-heading-line-height-sm: 20px;
  --text-heading-line-height-md: 28px;
  --text-heading-line-height-lg: 36px;
  --text-heading-line-height-xl: 44px;
  --text-heading-line-height-2xl: 52px;
  --text-heading-line-height-3xl: 60px;
  --text-heading-line-height-4xl: 72px;
  --text-heading-line-height-5xl: 82px;
  --text-heading-line-height-6xl: 92px;
  --text-heading-font-family: 'Lato', sans-serif;
  --text-heading-weight-regular: 400;
  --text-heading-weight-medium: 500;
  --text-heading-weight-semibold: 600;
  --text-heading-weight-bold: 700;
  --text-body-size-sm: 12px;
  --text-body-size-md: 14px;
  --text-body-size-lg: 20px;
  --text-body-size-xl: 24px;
  --text-body-line-height-sm: 18px;
  --text-body-line-height-md: 22px;
  --text-body-line-height-lg: 30px;
  --text-body-line-height-xl: 36px;
  --text-body-font-family: 'Lato', sans-serif;
  --text-body-weight-regular: 400;
  --text-body-weight-medium: 500;
  --text-body-weight-semibold: 600;
  --text-body-weight-bold: 700;
}
:root {
  /* Animation */
  --ease-in-relax: cubic-bezier(0.55, 0.09, 0.68, 0.53);
  --ease-in-regular: cubic-bezier(0.55, 0.06, 0.67, 0.19);
  --ease-in-strong: cubic-bezier(0.89, 0.03, 0.68, 0.22);
  --ease-in-powerful: cubic-bezier(0.75, 0.05, 0.85, 0.06);
  --ease-out-relax: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-regular: cubic-bezier(0.21, 0.61, 0.35, 1);
  --ease-out-strong: cubic-bezier(0.16, 0.84, 0.44, 1);
  --ease-out-powerful: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-relax: cubic-bezier(0.45, 0.03, 0.51, 0.96);
  --ease-in-out-regular: cubic-bezier(0.64, 0.05, 0.35, 1);
  --ease-in-out-strong: cubic-bezier(0.77, 0, 0.17, 1);
  --ease-in-out-powerful: cubic-bezier(0.86, 0, 0.07, 1);

  /* Duration */
  --speed-relaxed: 1000ms;
  --speed-extra-slow: 500ms;
  --speed-slow: 400ms;
  --speed-normal: 300ms;
  --speed-fast: 200ms;
  --speed-extra-fast: 100ms;
}
:root {
  /* Layout */
  --spacing-2xs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --spacing-2xl: 24px;
  --spacing-3xl: 28px;
  --spacing-4xl: 32px;
  --spacing-5xl: 36px;
  --spacing-6xl: 40px;
  --opacity-0: 0;
  --opacity-10: 0.1;
  --opacity-25: 0.25;
  --opacity-50: 0.5;
  --opacity-75: 0.75;
  --opacity-100: 1;
  --stroke-none: 0px;
  --stroke-xs: 1px;
  --stroke-md: 1.5px;
  --stroke-lg: 2px;
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;
}
